*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 1199.98px) {
  [class*="__container"] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0px 15px;
  }
}

body {
  background: #262626;
}

.header {
  background: #262626;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__container {
  position: relative;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: relative;
  z-index: 100;
  color: #fff;
  font-size: 32px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  b {
    color: #ff903f;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header__block_1 {
  ul {
    gap: 35px;
  }
}

.header__block_2 {
  ul {
    gap: 25px;
  }
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item {
}

.header__link {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  transition: all 0.3s ease 0s;
  &:hover {
    color: #c0bfbf;
  }
}

.header__link_i1 {
  &::before {
    content: url("../icons/01.svg");
    padding-right: 7px;
  }
}

.header__link_i2 {
  &::before {
    content: url("../icons/02.svg");
    padding-right: 7px;
  }
}

.header__link_i3 {
  &::before {
    content: url("../icons/03.svg");
    padding-right: 7px;
  }
}

.header__link_i4 {
  &::before {
    content: url("../icons/04.svg");
    padding-right: 7px;
  }
}

.header__button {
  color: #fff;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid var(--black, #000);
  background: #ff6b00;
  padding: 8px 20px;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: #db5d03;
    color: #e7e7e7;
  }
}

.header__dec {
  position: absolute;
  left: -15px;
  z-index: 100;
}

.header__link_icon {
  width: 22px;
  height: 22px;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  transition: all 0.3s ease 0s;
  &:hover {
    filter: invert(0.35);
  }
}

.header__burger {
  z-index: 110;
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
  filter: invert(1);
  transition: all 0.3s ease 0s;
  &:hover {
    filter: invert(0.65);
  }
}

#open-burger,
#close-burger {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  &.active {
    display: block;
  }
}

.intro {
  background-image: url("../img/11.jpg");
  background-size: cover;
}
.intro__container {
  margin-top: 100px;
  height: 840px;
}
.intro__nav {
  background: #fff
    linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.84) 100%);
  width: 297px;
  height: 614px;
}
.intro__list {
  padding-top: 40px;
  padding-left: 28px;
}
.intro__item:not(:first-child) {
  padding-top: 28px;
}
.text-item {
}
.intro__label {
  color: #fff;
  font-size: 16px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
  b {
    color: #ff903f;
  }
}
.intro__text {
  color: #ff903f;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.intro__line {
}
.check-item {
  display: flex;
  gap: 24px;
}
.intro__check {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 6px;
  p {
    color: #fff;
    font-size: 16px;
    font-family: Teko;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-transform: uppercase;
  }
}
.checkbox {
  transition: all 0.3s ease 0s;
  border-radius: 25px;
  background: #ffffff;
  width: 25px;
  height: 25px;
  position: relative;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -5.5px;
  }
  &.checked {
    background: #ff6b00;
    img {
      filter: invert(1);
    }
  }
}

.prods {
}
.prods__container {
  padding-top: 60px;
  padding-bottom: 90px;
}
.prods__title {
}
.title-prods {
}
.title-prods__suptitle {
  color: #ff6b00;
  font-size: 20px;
  font-family: Teko;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.title-prods__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-prods__label {
  color: #fff;
  text-shadow: 0px 4px 4px 0px #000;
  font-size: 64px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.title-prods__buttons {
  display: flex;
  gap: 20px;
}
.title-prods__button {
  width: 48px;
  height: 48px;
  background-color: #fff;
  border-radius: 48px;
  position: relative;
  transition: all 0.3s ease 0s;
  img {
    position: absolute;
    transition: all 0.3s ease 0s;
    width: 24px;
    height: 24px;
    left: 50%;
    top: 50%;
    margin-top: -12px;
    margin-left: -12px;
  }
  &:hover {
    background-color: #ff6b00;
    img {
      filter: invert(1);
    }
  }
}
.title-prods__button_left {
}
.title-prods__button_right {
}
.title-prods__decoration {
  position: absolute;
  left: -20px;
  bottom: 0;
}
.slide {
  padding-top: 80px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 349px);
  gap: 90px;
  flex-wrap: wrap;
}
.prods__item {
  border-radius: 20px;
  background: #262626;
  box-shadow: 0px 4px 85px 0px rgba(0, 0, 0, 0.25);
}
.item-prods__img {
  width: 345px;
  height: 273px;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.item-prods__body {
  padding: 7px 15px 25px 15px;
}
.item-prods__title {
  color: #fff;
  font-size: 24px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}
.item-prods__description {
  color: #fff;
  font-size: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 134.5%;
  width: 317px;
}
.item-prods__buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-prods__price {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.item-prods__button {
  background-color: #ff6b00;
  padding: 8px 8px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
  img {
    transition: all 0.3s ease 0s;
  }
  &:hover {
    background-color: #ec6200;
    img {
      filter: invert(1);
    }
  }
}

.feat {
}
.faet__container {
  display: flex;
}
.feat_img {
  width: 668px;
  height: 702px;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.feat__body {
  width: 605px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.item-feat {
  background: #262626;
  box-shadow: 0px 4px 85px 0px rgba(0, 0, 0, 0.46);
  height: 145px;
}
.item-feat__label {
  padding-left: 90px;
  position: relative;
  padding-top: 8px;
}
.item-feat__img {
  position: absolute;
  left: 25px;
  border-radius: 2px;
  background: #242424;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
  }
}
.item-feat__title {
  color: #fff;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.61);
  font-size: 28px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}
.item-feat__text {
  padding-bottom: 15px;
  padding-left: 90px;
  color: #fff;
  /* Text/Regular/Normal */
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.about {
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__line {
  margin-bottom: 65px;
  max-width: 100%;
}
.about__label {
  margin-bottom: 60px;
}
.about__suptitle {
  color: #ff6b00;
  text-align: center;
  font-size: 20px;
  font-family: Teko;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 15px;
}
.about__title {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px 0px #000;
  font-size: 64px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.about__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 70px;
}
.about__item {
  width: 382px;
  height: 515px;
  border-radius: 6px;
  background: #262626;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.41);
}
.item-about__img {
  height: 240px;
  width: 100%;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px 6px 0 0;
  }
}
.item-about__body {
  padding-left: 25px;
  padding-top: 25px;
}
.item-about__title {
  color: #fff;
  font-size: 24px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.item-about__text {
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 17px;
}
.item-about__link {
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease 0s;
  &::after {
    display: block;
    content: url("../icons/right.svg");
    height: 24px;
    width: 24px;
  }
  &:hover {
    color: #b9b9b9;
  }
}
.about__button {
  color: #fff;
  font-size: 24px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  padding: 14px 26px;
  border-radius: 34px;
  border: 1px solid var(--black, #000);
  background: #ff6b00;
  transition: all 0.3s ease 0s;
  &:hover {
    background: #db5d03;
    color: #b9b9b9;
  }
}

.ben {
  padding-top: 100px;
}
.ben__container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.ben__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #262626;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 248px;
  height: 263px;
}
.item-ben__img {
  width: 65.93px;
  height: 48.013px;
  position: relative;
  margin-bottom: 19px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.item-ben__title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.item-ben__text {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer {
  padding-top: 80px;
}
.footer__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__line {
  margin-bottom: 70px;
  max-width: 100%;
  position: relative;
}
.feet {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}
.feet__label {
  h1 {
    color: #fff;
    font-size: 36px;
    font-family: Teko;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-transform: uppercase;
  }
  h2 {
    color: #fff;
    font-size: 20px;
    font-family: Teko;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}
.feet__form {
  label {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
  }
  p {
    color: #fff;
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    a {
      color: #fff;
      font-size: 12px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-decoration: underline;
      &:hover {
        color: #e2e2e2;
      }
    }
  }
}
.feet__input {
  display: flex;
  height: 54px;
  padding: 12px;
  align-items: center;
  gap: 8px;
  width: 258px;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: #000;
  &::placeholder {
    color: var(--neutral-dark-gray, #505050);
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.feet__btn {
  border-radius: 4px;
  border: 1px solid var(--black, #000);
  background: #ff6b00;
  color: #fff;
  font-size: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
  padding: 12px 24px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:hover {
    background: #db5d03;
    color: #b9b9b9;
  }
}

.footer__nav {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 40px;
  flex-wrap: wrap;
}
.footer__list {
}
.footer__item {
  &:not(:last-child) {
    padding-bottom: 16px;
  }
}
.footer__title {
  color: #fff;
  font-size: 20px;
  font-family: Teko;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.footer__link {
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  &:hover {
    text-decoration: underline;
  }
}

.footer__foot {
  padding-top: 70px;
  padding-bottom: 55px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.footer__logo {
}
.logo {
}
.footer__lic {
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer__dec {
  position: absolute;
  left: -30px;
}
